/* =============
    Plans
============= */ 
#plans{

    #plans-intro{
        text-align: center;
        margin: 108px 0 70px;
    

        h1{
            color:var(--black);
        }
    }

    p{
        color: black;
    }

    ul{
        li{
            display: inline-block;

            padding: 480px 360px;
            border-radius: 10px;
            border: 1px solid var(--black);
        }

    }

}