/* =============
    Plans
============= */ 
#plans{
    
    #plans-intro{
        text-align: center;
    }

    ul{
        #planBox{
            padding: 480px 360px
            border: 1px solid var(--black);
            border-radius: 10px;

            display: inline-box;
        }
    }

}