/* =============
    Plans
============= */ 
#plans{

    text-align: center;

    h3{
        font-size: 33px;
    }
    
    h2{
        font-size: 57px;
    }

    #plans-intro{
        text-align: center; 

        h1{
            margin-top: 114px;
            margin-bottom: 20px;
            color:var(--black);
            font-size: 57px;
        }

        p{
            margin-bottom: 64px;
            color: black;
            font-size: 33px;
        }
    }

    ul{
        display: flex;
        list-style: none;
    }

}