/* =============
    Footer 
============= */

footer{
<<<<<<< Updated upstream
    section{
        ul{
            background-color: black;
            color: white;
        }
    }
    
=======
        color: var(--white);
        background-color: var(--black);
>>>>>>> Stashed changes
}