/* =============
    Header
============= */
header{
    align-items: center;
    padding: 14px 26px;
    display: grid;
    grid-template-columns: 80% auto;
    grid-template-areas: "logo burger";
    grid-template-areas: "nav nav";

    @include md{
        grid-template-columns: 50% auto 5%;
    }

    @include xl{
        grid-template-columns: 25% 25% auto;
        grid-template-areas:
        "logo nav";
    }

    #logo-container{

    }

    #burger-container{

    }

    nav{

    }
}