/* =============
    Header
============= */
header{
    align-items: center;
    padding: 14px 26px;
    display: grid;
    grid-template-columns: 80% auto;
    grid-template-areas: "logo burger";
    grid-template-areas: "nav nav";

    #logo-container{

    }

    #burger-container{

    }

    nav{

    }
}