/* =============
    Navigation
============= */

a{
    text-decoration: none;
}

nav{
    ul{
        li{
            a:link, a:visited{
            
            }

            a:hover, a:active{

            }
        }

        .selected{
            color: var(--lightBlue);
        }
    }
}