/* =============
    Navigation
============= */

nav{
    ul{
        li{
            a:link, a:visited{
                color: var(--black);
            }

            a:hover, a:active{

            }
        }

        .selected{
            color: var(--lightBlue);
        }
    }
}