/* =============
    Navigation
============= */

a{
    text-decoration: none;
}

nav{
    ul{
        color: white;
        display:flex;
        justify-content:flex-end;
        li{
            list-style: none;
            a:link, a:visited{
            
            }

            a:hover, a:active{

            }
        }

        .selected{
            color: var(--lightBlue);
        }
    }
}

#hero{
    section{
        h1{
            font-size: rem-calc(62);
        }
    }
}