/* =============
    Base
============= */
body {
  background-color: var(--purple);
}
body main {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto 1140px auto;
  grid-template-columns: auto 1140px auto;
      grid-template-areas: ". main-grid-item .";
}
body main #main-grid-item {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: main-grid-item;
}