/* =============
    Navigation
============= */
a {
  text-decoration: none;
}

nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
nav ul li {
  list-style: none;
  margin-left: 45px;
}
nav ul li a:link, nav ul li a:visited {
  color: var(--white);
  font-size: rem-calc(16);
  -webkit-transition: 0.25s;
  transition: 0.25s;
}
nav ul li a:hover, nav ul li a:active {
  color: var(--lightBlue);
}
nav ul li a.blue-link {
  color: var(--darkBlue);
}
nav ul li a.blue-link:hover {
  color: var(--lightBlue);
}
nav ul li a.selected {
  color: var(--lightBlue);
}
nav ul .selected {
  color: var(--lightBlue);
}

#hero section h1 {
  font-size: rem-calc(62);
}